@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.logo{
    // width: 99px;
 
    // margin: auto;
}
footer{
    background-color: #009ddc;
    padding: 20px 20px;

    .footer-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      
    }
    img{
        height: auto;
        width: auto;
    }
    .footer-links{
       // background-color: green;
       // text-decoration: none;
      // display: flex;
       //justify-content: center;

       // ul lis

        .footer-Ulist{
            text-decoration: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .footer-social {
            width: 20px;
            &.facebook {
                margin-right: 10px;
            }
            &.linkedin {
                width: 19px;
                position: relative;
                top: 1px;
                margin-right: 25px;
            }
        }

        .telephone {
            margin-right: 24px;
        }


        // list for copyright 2022
        .copyright{
            color: white;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
        }
    }
  
}
@media (min-width: 768px) {
footer{
    .footer-content {
        flex-direction: row;
        
    }
    .footer-content>div{
        display: flex;
        align-items: center;
        flex-basis: 50%;
        width: 50%;
        justify-content: center;
    }
}
.logo{
    width: 160px;
    margin: auto;
}
}