@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;



/* Hamburger Styles */
.hamburger-menu {
    width: 36px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.line-menu{
    background-color: #fff;
    width: 100%;
    height: 3px;
}


.line-menu.top{
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.line-menu.bottom{
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.hamburger-menu.is-active{
    transform: rotate(-45deg);
}

.is-active .line-menu.top{
    transform: rotate(-90deg) translateX(3px);
    width: 50%;
}

.is-active .line-menu.bottom{
    transform: rotate(-90deg) translateX(-3px);
    width: 50%;
}


.menu-dropdown {
    max-height: 4000px;
    position: absolute;
    top: 78%;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    z-index: 999;
}

.menu-list {
    text-align: left;
    background: rgba(54, 54, 54, .75);
    font-size: 18px;
    padding-left: 0;
    list-style: none;
    li {
        color: #fff;
        display: block;
        padding: 8px 15px;
        cursor: pointer;
    }
}

@media(min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}