@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


header {
    background: rgba(54, 54, 54, .75);
    position: absolute;
    width: 100%;
    z-index: 10;
    display: block;
}


.header-container {
    padding: 20px 10px;
}

.header-contact {
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact {
    display: none;
}

.header-logo {
    width: 99px;
}

.vulcan-logo {
    display: block;
    width: 99px;
    height: 40px;
    background-size: 99px 40px;
    text-decoration: none;
    text-indent: -9999px;
}

.logo {
    width: 100px;
    svg {
        max-width: 100%;
    }
}

.menu-desktop {
    display: none;
}
.menu-list-desktop{
    margin: 0;
    padding: 0 30px;
}
@media (min-width: 768px) {
    header {
        background: none;
    }
    .header-container{
        padding: 0;
    }
    .header-contact {
        position: relative;
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-evenly;
        .vulcan-logo{
            margin-top: 20px;
        }
    }


    .header-contact-links {
        text-transform: uppercase;
    }

    .header-contact-list {
        padding: 0 5px;
        list-style: none;

        li {
            vertical-align: top;
            font-size: 16px;
            line-height: 26px;
            font-weight: 500px;
            padding: 0 13px;
            display: inline-block;
            color: #fff;
            position: relative;
        }

    }

    .header-content {
        position: relative;
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-evenly;
    }
    .header-contact-list{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .header-contact-items{
        width: 100%;
    }

    .header-logo {
        float: none;
        width: 160px;
        display: none;
        margin: -7px auto 15px;
    }

    .vulcan-logo {
        width: 160px;
        height: 66px;
        background-size: 160px 66px;
    }

    .nav-items {
        width: 100%;
        max-width: 700px;
    }

    .menu-desktop {
        display: block;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

    }

    .menu-list-desktop {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: stretch;
        background: rgba(54, 54, 54, .75);
        list-style: none;

        li {
            font-weight: 500;
            padding: 10px;
            color: #fff;
            cursor: pointer;
        }

    }
} 

@media (min-width: 1024px) {
    
    .menu-desktop{
        margin: 30px 0;
        
    }
    .menu-list-desktop{
        width: 800px !important;
    }
    .menu-list-desktop li{
        padding: 30px;
        
    }
    .menu-list-desktop li:hover{
        background-color: #009ddc;
    }
    .slider{
        padding: 300px 0 200px!important;
    }
}