.more-info{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.more-info>div{
    padding: 0 14px;
    text-align: center;
}
.more-info h2{
    margin: 0 auto 20px;
    font-size: 30px;
    line-height: 1.2em;
}
.more-info a{
    font-size: 16px;
    padding: 10px;
    max-width: 200px;
    background: none;
    font-weight: 700;
    border-radius: 0;
    margin: 0 auto;
    text-decoration: none;
}
.find-vulcan {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/map.jpg);
    background-size: cover;
}

.contact {
    background: #154a66;
    color: #fff;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-info-btn {
    color: #504f4f;
    border: 1px solid #504f4f;
}


.contact-btn {
    color: #fff;
    border: 1px solid #fff;
}

@media(min-width: 768px) {
    .more-info{
        flex-direction: row-reverse;
        height: 350px;
    }
    .more-info>div{
        flex-basis: 50%;
        height: 100%;
    }
}