.more-info{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.more-info>div{
    padding: 0 14px;
    text-align: center;
}
.more-info h2{
    margin: 0 auto 20px;
    font-size: 30px;
    line-height: 1.2em;
}
.more-info a{
    font-size: 16px;
    min-width: 198px;
    padding: 10px 12px;
    max-width: 200px;
    background: none;
    font-weight: 700;
    border-radius: 0;
    margin: 0 auto;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.more-info a:hover {
    color: #009ddc;
	background: #fff;
}
.find-vulcan {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/map.jpg);
    background-size: cover;
}

.contact {
    background: #154a66;
    color: #fff;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-info-btn {
    color: #504f4f;
    border: 1px solid #504f4f;
}


.contact-btn {
    color: #fff;
    border: 1px solid #fff;
}
.waveBlueLine{
    position: absolute;
    bottom: 0;
    z-index: 2;
}

@media(min-width: 768px) {
    .more-info{
        flex-direction: row-reverse;
        height: 400px;
    }
    .more-info>div{
        flex-basis: 50%;
        height: 100%;
    }
}
@media (min-width: 1024px) {
    .more-info{
        height: 600px;
    }
    .more-info h2{
        font-size: 48px;
    }
}