@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


.slider {
    text-align: center;
    align-items: center;
    background-size: cover;
    padding: 200px 14px 200px;
}
#slider1{
    // background: url(../../images/header-slider-img-01.jpg);
    background: url(../../images/patioDoor2.jpg);
    
}
#slider2{
    background: url(../../images/slider5.jpeg);
}
#slider3{
    
    background: url(../../images/slider1.jpg);
}
.slider-label {
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 50px;
    font-size: 30px;
    line-height: 1.2em;
    
    margin: auto;
}
.slider-btn {
    margin: 0 auto 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    transition:.3s ease-in-out;
}
.slider-btn:hover{
    color: #009ddc;
	background: #fff;
}
.hero-slider{
    position: relative;
}
.waves-divider{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

.slick-dots{
    bottom: 80px !important;
}
.slick-dots li button::before{
    color: white !important;
    font-size: 20px !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button::before{
    color: #009ddc !important;
}
@media (min-width: 768px) {
    .slider-label {
        font-size: 50px;
        line-height: 1.2em;
        max-width: 800px;
    }
    .slider-btn{
        display: inline;
        margin: 0 10px;
    }
}
@media (min-width: 1024px) {
    .slider-label{
        font-size: 80px;
        max-width: 1300px;
    }
}