@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


.slider {
    text-align: center;
    align-items: center;
    background-size: cover;
    padding: 200px 14px 100px;
}
#slider1{
    background: url(../../images/header-slider-img-01.jpg);
}
#slider2{
    background: url(../../images/header-slider-img-02.jpg);
}
#slider3{
    background: url(../../images/header-slider-img-03.jpg);
}
.slider-label {
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 50px;
    font-size: 30px;
    line-height: 1.2em;
}
.slider-btn {
    margin: 0 auto 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
}
.slider-btn:hover{
    background: white;
    color: black;
}