@use "sass:math";

// Fonts
$body-font: 'EB Garamond', serif;
$heading-font: 'Jost', sans-serif;
$nav-font: 'Jost', sans-serif;
// Typographic Defualts
$line-height: 1.4;
$heading-font-weight: 600;
$border:50px;
$height: 20px;





@function em($px, $bc: 16){
    @return #{math.div($px, $bc)}em;
}

$desktopMedium: em(1251);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);

// Utility variables
$lps: '&:hover, &:focus, &:active';