

// Typography Styles
@use "../utilities/variables" as *;

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.2em;
    font-size: 1em;
}

h1, h2, h3, h4, h5, nav a, th, caption {
    font-weight: 700;
}

table,
footer p {
    font-weight: 400;
}
